<div class="jumbtron">
    <h1 class="display-4 text-center">Employee Management</h1>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <app-employee></app-employee>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" 
                data-target="#newPositionModal">
                Добавить должность
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-employee-list></app-employee-list>
        </div>
    </div>
</div>
