<button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" 
    data-target="#newEmployeeModal">
    Добавить сотрудника
</button>

<div class="modal fade" id="newEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="newEmployeeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newEmployeeModalTitle">Новый сотрудник</h5>
        </div>
        <div class="modal-body">
          <form #form="ngForm" autocomplete="off">
              <div class="form-group row">
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="employeeLastName" name="LastName"
                       #LastName="ngModel" [(ngModel)]="service.employeeForm.LastName" required>
                       <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">
                            Обязательное поле
                      </div>
                  </div>
                  <label for="employeeLastName" class="col-sm-3 col-form-label">Фамилия</label>
              </div>

              <div class="form-group row">
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="employeeFirstName" name="FirstName"
                      #FirstName="ngModel" [(ngModel)]="service.employeeForm.FirstName" required>
                      <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">
                            Обязательное поле
                      </div>
                  </div>
                  <label for="employeeFirstName" class="col-sm-3 col-form-label">Имя</label>
              </div>

              <div class="form-group row">
                  <div class="col-sm-9">
                      <select class="form-control" id="employeePosition" name="Position"
                      #Position="ngModel" [(ngModel)]="service.employeeForm.Position" required>
                        <option *ngFor="let pos of positionService.positionList" [ngValue]="pos">
                          {{pos.name}}
                        </option>
                      </select>
                      <div class="validation-error" *ngIf="Position.invalid && Position.touched">
                            Обязательное поле
                      </div>
                  </div>
                  <label for="employeePosition" class="col-sm-3 col-form-label">Должность</label>
              </div>

              <div class="form-group row">
                  <div class="col-sm-9">
                      <input type="number" class="form-control" id="employeeSalary" name="Salary"
                      #Salary="ngModel" [(ngModel)]="service.employeeForm.Salary" required>
                      <div class="validation-error" *ngIf="Salary.invalid && Salary.touched">
                        Обязательное поле
                      </div>
                  </div>
                  <label for="employeeSalary" class="col-sm-3 col-form-label">Оклад</label>
              </div>

              <div class="form-group row">
                  <div class="col-sm-9">
                      <input type="date" class="form-control" id="employeeHireDate" name="HireDate"
                      #HireDate="ngModel" [(ngModel)]="service.employeeForm.HireDate" required>
                      <div class="validation-error" *ngIf="HireDate.invalid && HireDate.touched">
                        Обязательное поле
                      </div>
                  </div>
                  <label for="employeeHireDate" class="col-sm-3 col-form-label">Нанят</label>
              </div>

              <div class="form-group row">
                  <div class="col-sm-9">
                      <input type="date" class="form-control" id="employeeDismissalDate" name="DismissalDate"
                      #DismissalDate="ngModel" [(ngModel)]="service.employeeForm.DismissalDate">
                  </div>
                  <label for="employeeDismissalDate" class="col-sm-3 col-form-label">Уволен</label>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" (click)="onSubmit(form)" [disabled]="form.invalid" class="btn btn-primary">Добавить</button>
        </div>
      </div>
    </div>
  </div>